---
layout: default
title: Tags
---

<div class="column is-half">
  {% if site.tags %}
  <div class="buttons pt-2" style="vertical-align: middle;">
    <p class="pr-2 pt-2">Tags:</p>
    {% for tag in site.tags %}
    <a href="{{ site.baseurl }}{{ site.tag_page }}#{{ tag[0] | slugify }}"
      class="button has-text-grey is-small is-light">
      <span class="icon is-small">
        <i class="fas fa-tag"></i>
      </span>
      <span>{{ tag[0] }}</span>
    </a>
    {% endfor %}
  </div>
  {% endif %}
  <div id="content" class="tags-expo">
    <hr />
    <div class="tags-expo-section">
      {% for tag in site.tags %}
      <h3 class="tag-title has-text-weight-light" id="{{ tag[0] | slugify }}">{{ tag[0] }}</h3>
      <ul class="tags-expo-posts">
        {% for post in tag[1] %}
        <a class="post-title" href="{{ site.baseurl }}{{ post.url }}">
          <li>
            <small class="post-date">{{ post.date | date_to_string }}</small> | {{ post.title }}           
          </li>
        </a>
        {% endfor %}
      </ul>
      {% endfor %}
    </div>
  </div>
</div>