<footer class="footer">
    <div class="content has-text-centered">
        <p class="pb-0 mb-0">
            &copy; Nikita Rusetskii
        </p>
        <p class="pb-1 mb-0">
            <small>
                You can overcome anything if you set your mind to it
            </small>
        </p>
        <p>
            <a href="http://bulma.io">
                <img src="{{ site.github.url }}/assets/img/made-with-bulma.png" alt="Made with Bulma" width="128"
                    height="24">
            </a>
        </p>
    </div>
    </div>
    </div>
</footer>
<script>
    AOS.init();

    (function () {
        var burger = document.querySelector('.burger');
        var nav = document.querySelector('#' + burger.dataset.target);

        burger.addEventListener('click', function () {
            burger.classList.toggle('is-active');
            nav.classList.toggle('is-active');
        });
    })();

</script>