<footer class="footer">
    <div class="content has-text-centered">
        <p class="pb-0 mb-0">
            &copy; Nikita Rusetskii
        </p>
        <p class="pb-1 mb-0">
            <small>
                You can overcome anything if you set your mind to it
            </small>
        </p>
        <p>
            <a href="http://bulma.io">
                <img src="{{ site.github.url }}/assets/img/made-with-bulma.png" alt="Made with Bulma" width="128"
                    height="24">
            </a>
        </p>
    </div>
    </div>
    </div>
</footer>
<script>
    AOS.init();

    (function () {
        var burger = document.querySelector('.burger');
        var nav = document.querySelector('#' + burger.dataset.target);

        burger.addEventListener('click', function () {
            burger.classList.toggle('is-active');
            nav.classList.toggle('is-active');
        });
    })();

</script>
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="https://kenwheeler.github.io/slick/slick/slick.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('.my-gallery').slick({
            dots: true,
            infinite: true,
            speed: 500,
            autoplay: true,
            autoplaySpeed: 5000,
            cssEase: 'linear'
        });
    });
</script>