<nav data-aos="fade-down" data-aos-duration="600" class="navbar is-primary is-mobile is-fixed-top">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item has-text-weight-bold" href="{{ site.github.url }}">
                {{ site.logo }}
            </a>
            <!-- Navbar icon -->
            <span class="navbar-burger burger" data-target="navMenu">
                <span></span>
                <span></span>
                <span></span>
            </span>
        </div>
        <div id="navMenu" class="navbar-menu">
            <div class="navbar-end has-text-weight-bold">
                <a href="{{ site.github.url }}" class="navbar-item">
                    <span class="icon">
                        <i class="fas fa-home"></i>
                    </span>
                    <span>Home</span>
                </a>
                <a href="https://xtenzq.github.io/" class="navbar-item">
                    <span class="icon">
                        <i class="fas fa-id-card"></i>
                    </span>
                    <span>Portfolio</span>
                </a>
            </div>
        </div>
    </div>
</nav>