<p class="buttons">
  <button
    onclick="window.location.href='https://twitter.com/intent/tweet?text={{ page.title }}&amp;url={{ site.github.url }}{{ page.url }}'"
    class="button is-primary is-inverted">
    <span class="icon is-small">
      <i class="fab fa-2x fa-twitter-square"></i>
    </span>
  </button>
  <button
    onclick="window.location.href='https://www.facebook.com/sharer/sharer.php?u={{ site.github.url }}{{ page.url }}&amp;title={{ page.title }}'"
    class="button is-primary is-inverted">
    <span class="icon is-small">
      <i class="fab fa-facebook-square fa-2x" aria-hidden="true"></i>
    </span>
  </button>
  <button onclick="window.location.href='https://plus.google.com/share?url={{ site.github.url }}{{ page.url }}'"
    class="button is-primary is-inverted">
    <span class="icon is-small">
      <i class="fab fa-google-plus-square fa-2x" aria-hidden="true"></i>
    </span>
  </button>
</p>