html {
  scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-thumb {
  background: #00d1b2;
}

::-webkit-scrollbar-track {
  background: #fff;
}

.content figure {
  margin-left: 0 !important;
  margin-right: 0 !important;
  text-align: left !important;
}

.footer {
  background-color: #00d1b2 !important;
  color: white !important;
}

.titlelink {
  color: #000;
}

#author a {
  color: #000;
  font-weight: 500;
}
